@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-primario: #F3F5FC;
    --color-secundario: #FFFFFF;

    --color-terciario: #0A3871;
    --color-no-encontrado: #343A40;
    --color-respuesta: #495057;
    --color-boton-desencriptar: #D8DFE8;
    --color-error: #ff0000;

    --fuente-inter: "Inter", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--color-primario);
    font-family: var(--fuente-inter);
}

.encriptador {
    padding: 2% 5% 3.2% 0%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.encriptador__solicitud {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    gap: 80px;
    box-sizing: border-box;
}

.encriptador__logo__container {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.encriptador__solicitud__texto {
    resize: none;
    border: none;
    background-color: var(--color-primario);
    color: var(--color-terciario);
    font-size: 2rem;
}

.encriptador__respuesta__texto {
    resize: none;
    border: none;
    background-color: var(--color-secundario);
    color: var(--color-respuesta);
    font-size: 1.5rem;
    width: 100%;
    height: 60vh;
}

.encriptador__solicitud__texto__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0% 1% 0% 25%;
    box-sizing: border-box;
    width: 100%;
}

.encriptador__solicitud__texto::placeholder {
    color: var(--color-terciario);
}

.encriptador__solicitud__texto:focus,
.encriptador__respuesta__texto:focus {
    outline: none;
}

.encriptador__solicitud__aviso {
    color: var(--color-respuesta);
    font-size: 0.75rem;
    display: flex;
    gap: 5px;
}

.encriptador__solicitud__acciones {
    display: flex;
    gap: 20px;
    font-size: 1rem;
    text-align: center;
    box-sizing: border-box;
}

.encriptador__respuesta__acciones {
    display: flex;
    gap: 20px;
    font-size: 1rem;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}

.encriptador__solicitud__acciones__encriptar {
    color: var(--color-secundario);
    padding: 25px 0;
    background-color: var(--color-terciario);
    border: 0.5px solid var(--color-terciario);
    border-radius: 24px;
    width: 100%;
}

.encriptador__solicitud__acciones__desencriptar {
    color: var(--color-terciario);
    padding: 25px 0;
    background-color: var(--color-boton-desencriptar);
    border: 0.5px solid var(--color-terciario);
    border-radius: 24px;
    width: 100%;
}

.encriptador__solicitud__acciones__copiar {
    color: var(--color-terciario);
    padding: 25px 0;
    background-color: var(--color-secundario);
    border: 0.5px solid var(--color-terciario);
    border-radius: 24px;
    width: 100%;
}

.encriptador__solicitud__acciones__encriptar:hover:enabled {
    cursor: pointer;
}

.encriptador__solicitud__acciones__desencriptar:hover:enabled {
    cursor: pointer;
}

.encriptador__solicitud__acciones__copiar:hover:enabled {
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

button[disabled] {
    background-color: #ccc;
    color: #888;
    cursor: not-allowed;
}

.encriptador__respuesta {
    background-color: var(--color-secundario);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    box-sizing: border-box;
    width: 30%;
    border-radius: 5%;
    box-shadow: 0px 10px 10px hsl(0, 2%, 89%);
}

.encriptador__respuesta__container {
    padding: 5% 0%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
}

.encriptador__respuesta__container__hidden {
    padding: 5% 0%;
    display: none;
    flex-direction: column;
    gap: 40px;
    box-sizing: border-box;
    width: 75%;
    align-items: center;
}

.encriptador__respuesta__muneco {
    width: 100%;
}

.encriptador__respuesta__avisos {
    background-color: var(--color-secundario);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
    width: 75%;
}

.encriptador__respuesta__no__encontrado {
    color: var(--color-no-encontrado);
    font-size: 1.5rem;
    font-weight: 600;
    width: 100%;
}

.encriptador__respuesta__ingresar__texto {
    color: var(--color-respuesta);
    font-size: 1rem;
    width: 100%;
}

.footer {
    background-color: var(--color-terciario);
    padding: 16px;
    color: var(--color-primario);
    font-family: var(--fuente-inter);
    font-size: 1rem;
    text-align: center;
    font-weight: 200;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.enlaces {
    display: flex;
    align-items: center;
    gap: 20px;
}

.enlaces__logos {
    width: 2rem;
    height: 2rem;
}

.error-message {
    color: var(--color-error);
    font-size: 1rem;
}

@media (max-width: 768px) {
    .encriptador {
        padding: 2% 0% 3.2% 0%;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .encriptador__solicitud {
        width: 90%;
    }

    .encriptador__solicitud__texto__container {
        gap: 20px;
        padding: 0%;
        box-sizing: border-box;
        width: 100%;
    }

    .encriptador__respuesta {
        width: 90%;
    }

    .encriptador__respuesta__muneco {
        display: none;
    }

    .encriptador__respuesta__avisos {
        width: 100%;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 375px) {
    .encriptador__solicitud__acciones {
        flex-direction: column;
    }

    .enlaces__titulo {
        display: none;
    }
}